.story-modal {
  display: flex;
  width: 1000px;
  max-width: 100%;
}

.story-modal__content {
  background-color: white;
  max-width: 100%;
  flex: auto;
}

.story-modal__controls {
  display: flex;
  flex-direction: column;

  flex: none;

  padding: 0 16px;

  > * {
    flex: none;

    + button {
      margin-top: 12px;
    }
  }

  @media (max-width: 600px) {
    display: none;
  }
}

.story-modal__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 56px;
  height: 56px;

  color: white;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;

  opacity: 1;
  visibility: visible;

  &.story-modal__icon--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.story-modal__close {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 0;

  color: white;

  > * {
    flex: none;
  }
}
